[Desktop Entry]
Name=zedless
Comment=Editing evolved
GenericName=Zedless Editor
Exec=/usr/bin/zed %F
Icon=zed
Type=Application
StartupNotify=false
StartupWMClass=Zed
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Keywords=zed;
